<head>
    <title>Заголовок документа</title>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-2 logo">
                    <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/it.png" alt=""></a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-10 titles">
                    <h1><%= t("welcome_greeting") %></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="foot"><span> Powered by denisqsound </span></div>
</head>

<head>
    <title>Тег big в html</title>
</head>
<body>
 <big>И ты в это веришь?</big></p>
</body>



